<% if(SUCCESS_MSG.length> 0) { %>
    <div class="alert alert-success" role="alert">
        <%= SUCCESS_MSG %>
    </div>
    <% } %>
        <% if(ERROR_MSG.length> 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= ERROR_MSG %>
            </div>
            <% } %>