<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5><%= siteName %></h5>
                <p class="text-muted mb-3">Thoughtful perspectives on topics that matter.</p>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <!-- <h5>Categories</h5>
                <ul class="footer-links">
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Culture</a></li>
                    <li><a href="#">Wellness</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Travel</a></li>
                </ul> -->
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5>Resources</h5>
                <ul class="footer-links">
                    <li><a href="/aboutUs">About Us</a></li>
                    <li><a href="/contactUs">Contact</a></li>
                    <li><a href="/privacyPolicy">Privacy Policy</a></li>
                    <li><a href="/terms">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5>Contact</h5>
                <ul class="footer-links">
                    <li><i class="bi bi-envelope me-2"></i> hello@<%= siteName %>.com</li>
                    <li><i class="bi bi-telephone me-2"></i> +1 (555) 123-4567</li>
                    <li><i class="bi bi-geo-alt me-2"></i> 123 Content Street, Reader's City</li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center copyright">
                <p>© 2025 <%= siteName %> . All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>